<html>
    <head>
        <style type="text/css">
            .box{width:300px; text-align:center; font-szie:18px;}
            .box img {width:100%;}
            body{text-align:center} 
            #aa{display:block;
                position:relative;
                margin:auto;
            }
        </style>
        <meta charset="utf-8">
        <title>错误</title>
    </head>
    <body>
        <div class="box" id="aa">
            {{.showlog}}
        </div>
    </body>
</html>